.roadmap {
    display: grid;
}

@media screen and (min-width: 721px) {
    .roadmap {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
    }
}

@media screen and (min-width: 1024px) {
    .roadmap {
        column-gap: 30px;
    }
}

.grid {
    padding: 24px;
}

.grid > a {
    margin-bottom: 16px;
}

@media screen and (min-width: 721px) {
    .grid {
        padding-inline: 0;
        padding-top: 32px;
    }
}

@media screen and (max-width: 720px) {
    .grid[data-selected='false'] {
        display: none;
    }
}

.grid_head {
    margin-bottom: 24px;
}

.grid_head h3 {
    color: var(--clr-blue-600);
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .grid_head h3 {
        font-size: 14px;
    }
}

.grid_head p {
    color: var(--clr-grey-300);
    font-size: 13px;
}

@media screen and (min-width: 721px) {
    .grid_head p {
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {
    .grid_head p {
        font-size: 16px;
    }
}

.status_bar {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    border-bottom: 1px solid #8e93b442;
}

.status_bar h5 {
    font-size: 13px;
    letter-spacing: -0.18px;
}

@media screen and (min-width: 721px) {
    .status_bar {
        display: none;
    }
}

.status_bar button {
    height: 60px;
    color: var(--clr-blue-600);
    background-color: transparent;
    border: none;
}

.status_bar button[data-selected='false'] {
    opacity: 0.4;
}

.status_bar::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 4.5px;
    width: 33.333%;
    transition: all 0.15s ease-in-out;
}

.status_bar:has(button:first-child[data-selected='true'])::after {
    background-color: var(--clr-orange-900);
    left: 0;
}

.status_bar:has(button:nth-child(2)[data-selected='true'])::after {
    background-color: var(--clr-purple-900);
    left: 33.333%;
}

.status_bar:has(button:last-child[data-selected='true'])::after {
    background-color: var(--clr-blue-900);
    left: 66.666%;
}