.sort {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 24px;
    padding-block: 8px;
    background-color: var(--clr-blue-300);
}

.sort > button:first-child span {
    font-weight: 400;
}

.sort > button:first-child svg {
    margin-left: 8px;
}

.sort > button:first-child path {
    stroke: var(--clr-white-900);
}

.sort:has(div[aria-hidden='false']) > button:first-child svg {
    rotate: 180deg;
}