.modal_wrapper {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    background-color: #0000006b;
}

.modal {
    padding-inline: 32px;
    padding-block: 48px;
    text-align: center;
    color: var(--clr-blue-600);
    background-color: var(--clr-white-900);
    border-radius: var(--radius-btn);
    box-shadow: 0 10px 40px -7px #373f6859;
}

.modal p {
    font-size: 13px;
    color: var(--clr-grey-300);
}

@media screen and (min-width: 721px) {
    .modal p {
        font-size: 14px;
    }
}