.chip {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 16px;
    height: 30px;
    color: var(--clr-blue-800);
    font-size: 13px;
    font-weight: 600;
    background-color: var(--clr-white-600);
    border-radius: var(--radius-btn);
}

.chip[data-clickable='true'] {
    cursor: pointer;
}

.chip[data-clickable='true']:has(input:not(:checked)):is(:hover, :focus) {
    background-color: var(--clr-grey-900);
}

@media screen and (max-width: 480px) {
    .chip {
        margin-bottom: 6px;
    }
}

.chip input {
    appearance: none;
}

.chip:has(input:checked) {
    color: var(--clr-white-900);
    background-color: var(--clr-blue-800);
}