#root {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

h1 {
    font: var(--font-h1);
    letter-spacing: var(--space-h1);
}

h2 {
    font: var(--font-h2);
    letter-spacing: var(--space-h2);
}

h3 {
    font: var(--font-h3);
    letter-spacing: var(--space-h3);
}

h4 {
    font: var(--font-h4);
    letter-spacing: var(--space-h4);
}

h5 {
    font: var(--font-h5);
    letter-spacing: var(--space-h5);
}

button {
    font-family: inherit;
    cursor: pointer;
}