@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-white-900: #FFF;
    --clr-white-600: #F2F4FF;
    --clr-white-300: #F7F8FD;
    --clr-grey-900: #CFD7FF;
    --clr-grey-600: #656EA3;
    --clr-grey-300: #647196;
    --clr-blue-900: #62BCFA;
    --clr-blue-800: #4661E6;
    --clr-blue-700: #7C91F9;
    --clr-blue-600: #3A4374;
    --clr-blue-300: #373F68;
    --clr-purple-900: #AD1FEA;
    --clr-purple-600: #C75AF6;
    --clr-orange-900: #F49F85;
    --clr-red-900: #D73737;
    --clr-red-600: #E98888;
    --font-fam: 'Jost', Arial, sans-serif;
    --font-h1: bold 24px/35px var(--font-fam);
    --font-h2: bold 15px var(--font-fam);
    --font-h3: bold 18px/26px var(--font-fam);
    --font-h4: bold 14px/20px var(--font-fam);
    --font-h5: bold 13px var(--font-fam);
    --font-body-lg: 16px/23px var(--font-fam);
    --font-body-md: 15px/22px var(--font-fam);
    --font-body-sm: 600 13px/19px var(--font-fam);
    --space-h1: -0.33px;
    --space-h2: -0.19px;
    --space-h3: -0.25px;
    --space-h4: -0.2px;
    --space-h5: -0.18px;
    --radius-btn: 10px;
}

@media screen and (min-width: 481px) {
    :root {
        --font-h2: bold 20px/29px var(--font-fam);
        --space-h2: -0.25px;
    }
}

html {
    font: var(--font-body-lg);
    background-color: var(--clr-white-300);
}