.main {
    display: grid;
    row-gap: 24px;
    padding: 24px;
    max-width: 730px;
    margin-inline: auto;
}

@media screen and (min-width: 721px) {
    .main {
        padding-inline: 40px;
        padding-block: 56px;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}