.list {
    display: grid;
    row-gap: 16px;
    margin-block: 32px;
    margin-inline: 24px;
    border-radius: var(--radius-btn);
}

@media screen and (min-width: 721px) {
    .list {
        margin-block: 24px;
        margin-inline: 39px;
    }
}

@media screen and (min-width: 1188px) {
    .list {
        margin-inline: 0;
    }
}

.no_feedback {
    display: grid;
    justify-items: center;
    text-align: center;
    padding-block: 76px;
    padding-inline: 25px;
}

.no_feedback svg {
    margin-bottom: 39px;
}

.no_feedback h3 {
    color: var(--clr-blue-600);
}

.no_feedback p {
    color: var(--clr-grey-300);
    font-size: 13px;
    margin-top: 14px;
    margin-bottom: 24px;
    max-width: 410px;
}