.purple,
.blue,
.dark-blue,
.grey-blue,
.red,
.bare {
    padding-inline: 16px;
    height: 40px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: var(--radius-btn);
}

.purple:disabled,
.blue:disabled,
.dark-blue:disabled,
.grey-blue:disabled,
.red:disabled,
.bare:disabled {
    opacity: 0.3;
}

.bare:not(:disabled) {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--clr-grey-300);
    background-color: transparent;
}

.bare:not(:disabled):is(:hover, :focus) {
    text-decoration: underline;
}

.purple,
.blue,
.dark-blue,
.grey-blue,
.red {
    color: var(--clr-white-600);
}

.purple {
    background-color: var(--clr-purple-900);
}

.purple:not(:disabled):is(:hover, :focus) {
    background-color: var(--clr-purple-600);
}

.dark-blue {
    background-color: var(--clr-blue-300);
}

.dark-blue > svg {
    margin-left: 9px;
}

.dark-blue > svg path {
    stroke: var(--clr-white-900);
}

.grey-blue {
    background-color: var(--clr-blue-600);
}

.grey-blue:not(:disabled):is(:hover, :focus) {
    background-color: var(--clr-grey-600);
}

.blue {
    background-color: var(--clr-blue-800);
}

.blue:not(:disabled):is(:hover, :focus) {
    background-color: var(--clr-blue-700);
}

.red {
    background-color: var(--clr-red-900);
}

.red:not(:disabled):is(:hover, :focus) {
    background-color: var(--clr-red-600);
}