.main {
    min-height: 100vh;
    background-color: var(--clr-white-300);
}

@media screen and (min-width: 721px) {
    .main {
        padding-inline: 39px;
        padding-block: 56px;
    }
}

@media screen and (min-width: 1188px) {
    .main {
        padding-inline: calc(50% - 555px)
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding-inline: 24px;
    background-color: var(--clr-blue-300);
}

@media screen and (min-width: 721px) {
    .header {
        border-radius: var(--radius-btn);
    }
}

.header > div button {
    height: 19px;
    margin-bottom: 3px;
}

.header button path {
    stroke: #CDD2EE;
}

.header > div button,
.header h3 {
    padding: 0;
    color: var(--clr-white-900);
}