.upvote {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 32px;
    padding-inline: 14px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -0.18px;
    color: var(--clr-blue-600);
    background-color: var(--clr-white-600);
    border: none;
    border-radius: var(--radius-btn);
}

.upvote:is(:hover, :focus) {
    background-color: var(--clr-grey-900);
}

.upvote[data-upvoted='true'] {
    background-color: var(--clr-blue-800);
}

.upvote[data-upvoted='true'] * {
    color: var(--clr-white-900);
    stroke: var(--clr-white-900);
}

@media screen and (min-width: 481px) {
    .upvote[data-absolute='true'] {
        position: absolute;
        top: 28px;
        left: 32px;
        display: grid;
        justify-items: center;
        padding-inline: 11px;
        padding-block: 14px 8px;
        height: fit-content;
    }

    .upvote {
        min-height: 40px;
    }
}