.main {
    min-height: 100vh;
}

@media screen and (min-width: 1188px) {
    .main {
        margin-top: 94px;
        margin-right: calc(50vw - 555px);
        margin-left: auto;
        width: 825px;
    }
}