.header {
    display: grid;
    align-items: center;
    padding-inline: 24px;
    color: var(--clr-white-900);
}

@media screen and (max-width: 720px) {
    .header {
        height: 72px;
        width: 100%;
        background-image: url(/background-header-mobile.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .header::after {
        content: '';
        position: absolute;
        inset: 0;
        top: 72px;
        background-color: #00000080;
        z-index: 5;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }
    
    .header:has(.nav[aria-hidden='false'])::after {
        opacity: 1;
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 721px) {
    .header {
        grid-template-columns: 1fr 2fr;
        column-gap: 10px;
        padding-inline: 39px;
        padding-top: 56px;
        padding-bottom: 40px;
    }

    .title {
        align-items: flex-end;
        padding-left: 24px;
        padding-bottom: 24px;
        background-image: url(/background-header-tablet.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.title p {
    font-size: 13px;
    font-weight: 500;
    opacity: 0.75;
}

.burger {
    position: relative;
    display: flex;
    align-items: center;
    height: 20px;
    width: 20px;
    overflow: hidden;
    background-color: transparent;
    border: none;
}

@media screen and (min-width: 721px) {
    .burger {
        display: none;
    }
}

.burger > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(var(--x), -50%);
    transition: all 0.12s ease-in-out;
}

.burger > svg:first-of-type {
    --x: -50%;
}

.burger > svg:last-of-type {
    --x: 50%;
    opacity: 0;
}

.burger[data-open='true'] > svg:first-of-type {
    --x: -150%;
    opacity: 0;
}

.burger[data-open='true'] > svg:last-of-type {
    --x: -50%;
    opacity: 1;
}

@media screen and (max-width: 720px) {
    .nav {
        position: absolute;
        top: 72px;
        right: -271px;
        padding: 24px;
        width: 271px;
        min-height: calc(100vh - 72px);
        background-color: var(--clr-white-300);
        transition: right 0.2s ease-in-out;
        z-index: 12;
    }
    
    .nav[aria-hidden='false'] {
        right: 0;
    }
}

@media screen and (min-width: 721px) {
    .nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        height: 100%;
    }
}

.filters,
.roadmap {
    padding: 24px;
    background-color: var(--clr-white-900);
    border-radius: var(--radius-btn);
}

@media screen and (min-width: 721px) {
    .title,
    .filters,
    .roadmap {
        height: 100%;
        border-radius: var(--radius-btn);
    }
}

@media screen and (min-width: 1188px) {
    .header,
    .nav {
        grid-template-columns: 1fr;
        width: 255px;
        row-gap: 24px;
        padding: 0;
    }

    .header {
        margin-top: 94px;
        margin-left: calc(50vw - 555px);
    }

    .header {
        float: left;
        margin-right: 30px;
    }
    
    .title {
        height: 137px;
    }
}

.filters {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    margin-bottom: 24px;
}

@media screen and (min-width: 1188px) {
    .filters {
        row-gap: 6px;
    }
}

.link,
.stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link a {
    color: var(--clr-blue-800);
    font-size: 13px;
    font-weight: 600;
}

.roadmap h3 {
    color: var(--clr-blue-600);
}

.stat_container {
    display: grid;
    row-gap: 8px;
    margin-top: 24px;
}

.stat {
    position: relative;
    padding-left: 24px;
}

.stat::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 8px;
    width: 8px;
    border-radius: 100%;
}

.stat:first-child::after {
    background-color: var(--clr-orange-900);
}

.stat:nth-child(2)::after {
    background-color: var(--clr-purple-900);
}

.stat:last-child::after {
    background-color: var(--clr-blue-900);
}

.stat span,
.stat p {
    font-size: 16px;
    color: var(--clr-grey-300);
}

.stat p {
    font-weight: bold;
}