.main {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 24px;
    max-width: 588px;
    margin-inline: auto;
    min-height: 100vh;
}

@media screen and (min-width: 721px) {
    .main {
        row-gap: 32px;
        padding-top: 56px;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form {
    padding-inline: 24px;
    padding-bottom: 24px;
    margin-top: 20px;
    background-color: var(--clr-white-900);
    border-radius: var(--radius-btn);
}

.form > img,
.form > h3 {
    margin-bottom: 24px;
}

.form > img {
    margin-top: -20px;
    width: 40px;
    height: auto;
}

@media screen and (min-width: 721px) {
    .form {
        margin-top: 28px;
        padding-inline: 42px;
        padding-bottom: 40px;
    }

    .form > img {
        margin-top: -28px;
        width: 56px;
    }
}

.form > h3,
.field > h5 {
    color: var(--clr-blue-600);
}

.field {
    display: grid;
    margin-bottom: 24px;
}

.field h5 {
    font-size: 14px;
    letter-spacing: -0.19px;
    margin-bottom: 3px;
}

.field > p {
    color: var(--clr-grey-300);
    font-size: 13px;
    margin-bottom: 16px;
}

@media screen and (min-width: 721px) {
    .field > p {
        font-size: 14px;
    }
}

.field > p[data-invalid='true'] {
    color: var(--clr-red-900);
    margin-top: 4px;
    margin-bottom: 0;
}

.field input {
    height: 48px;
    width: 100%;
    padding: 16px;
    font-family: inherit;
    font-size: 13px;
    color: var(--clr-blue-600);
    background-color: var(--clr-white-600);
    border: none;
    border-radius: 5px;
}

.field input:is(:hover, :focus) {
    outline: 1px solid var(--clr-blue-800);
}

.field input[aria-invalid='true'] {
    outline: 1px solid var(--clr-red-900);
}

.btn_div {
    display: grid;
    row-gap: 16px;
    margin-top: 40px;
}

@media screen and (min-width: 721px) {
    .btn_div {
        display: flex;
        flex-direction: row-reverse;
        gap: 16px;
        width: 100%;
        margin-top: 32px;
    }

    .btn_div > button:nth-child(3) {
        margin-right: auto;
    }
}